 *{
    margin: o;
    padding: o;
    box-sizing: border-box;
    font-family: 'Poppins',Iter;
 }
 body{
position: relative; }

/* NAVBAR STYLING STARTS */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
   }
   /* LOGO */
   .logo {
    font-size: 32px;
    font-weight: bold;
    color: white;
    
}
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    flex: 1;
   }
   .topnav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-style: Space Grotesk;
    position: relative;

   }
    .topnav a.active {
        font-weight: bolder;
        height: 1px;
    
    }
        h1{
            color: #2549D3;
        }


        .login{
          background-color:black ;
          border: none;
          color: #FAFAFA;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          font-weight: bolder;
          margin-left: 30%;
        }
   .button {
  background-color: #ED661F;
  border: none;
  color: #FAFAFA;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.explore{
    width: 100%;
    height: 100vh;
    background-image:url('./images/image 1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: absolute;
    
    
}
.explore1{
  width: 90%;
  margin-left: 100px;
  margin-right: 100px;
  box-sizing: border-box;
    
}
.image1{
  width: 70%;
  float: right;
  margin-left: 30px;
}
.buying{
  margin-top: 100px;
}
.buying1{
  line-height: 2;
  font-size: 40px;
  color: black;
  font-weight: bolder;
}
.buyerp{
  line-height: 2;
  font-size: 20px;

}
.customersli{
  background-color: white;
  display: inline-flex;
  overflow: hidden;
  position: relative;
  text-align: center;

  margin-left: 20%;
  position: absolute;
  margin-top: 900px;
  margin-left: 40%;

}
.Customers{

  /* margin:100px auto 100px auto; */
  padding: 30px;
  margin-left: 10px;
}
.positioning{
  position: absolute;
margin-top: 1200px;
}
.exist{
  width: 90%;
  margin-left: 100px;
  margin-right: 100px;
  box-sizing: border-box;

}


#button{
  line-height: 2;
  font-size: 40px;
}


  .exist{
    width: 100%;
    margin:100px auto 100px auto;
    text-align: left;
    justify-content: space-between;
  
  }
  .exist1{
    width: 90%;
  margin-left: 100px;
  margin-right: 100px;
  box-sizing: border-box;
  justify-content: space-between;

  

  }
  .exist2{
    margin-top: 100px;
  }
  .exist3{
    line-height: 2;
    font-size: 40px;
    color: black;
    font-weight: bolder;
  }
  .existp{
    line-height: 2;
  font-size: 20px;

  }
  .image2{
    width: 70%;
  float: right;
  margin-left: 30px;
  }
  .text{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    margin-top: 500px;
    padding-top: 5px;
  }
  .categoryh1{
    line-height: 2;
    font-size: 40px;
    color: black;
    font-weight: bolder;
  }
  .categoryp{
    line-height: 2;
    font-size: 25px;
    margin-left: -5%;
  }
  
  .most{
    line-height: 2;
    font-size: 40px;
    color: black;
    font-weight: bolder;
    margin-left: 150px;
  }

  .newest{
    line-height: 2;
    font-size: 40px;
    color: black;
    font-weight: bolder;
    margin-left: 150px;
  }
.esteemes{
  line-height: 2;
  font-size: 40px;
  color: black;
  font-weight: bolder;
  margin-left: 150px; 
}
.p1{
  line-height: 2;
  font-size: 35px;
  color: black;
  font-weight: bolder; 
}
.p2{
  line-height: 2;
  font-size: 35px;
  color: black;
  font-weight: bolder; 
}
.p3{
  line-height: 2;
  font-size: 35px;
  color: black;
  font-weight: bolder;  
}
.rec{
display: inline-flex;

}
.rec1{
  float: left;
}
.p10{
  margin-left: 50px;
  margin-top: 40px;
}
.rec2{
  margin-top: 50px;
  float: left;
}
.p12{
margin-left: 150px;
margin-top: 140px;
}
.rec3{
  margin-top: -10px;
  float: left;
}
.p13{
  margin-left: 140px;
  margin-top: 50px; 
}


.flex-container{
  display: flex;
  /* flex-wrap: nowrap; */
  justify-content:space-around;
  /* width: 100%; */
  margin-left: 150px;
  
  
}
/* .products{
  height: 50px;
  width: 50px;

} */
.image3{
  width: 80%;
  height: auto;
}
.lorem{
  display: inline-flex;
  overflow: hidden;
}


.ipsum{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: center;
  background-color: white;
  padding: 50px;
  margin-left: 40px;
}
.footer1{
  width: 100%;
  min-height: 400px;
  background: black;
  border: solid 2px white;
}

.touch{
  line-height: 2;
  font-size: 40px;
  color: white;
  font-weight: bolder;
  margin-left: 500px;
  padding-top: 50px;
}
.p15{
  margin-left: 600px;
  margin-top: 10px;  
  color: white;
  font-size: 30px;
}


form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 64%;
  background: #f1f1f1;}
  form.example button {
    /* float: left; */
    width: 35%;
    padding: 10px;
    background: #ED661F
    ;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;}



.footer{
  width: 100%;
  height: 300px;
  background: black;
  background-color: #0F298B;
  display: inline-flex;

}

.footer-li{
  position: absolute;
  margin-left: 30%;
  margin-top: -350px;
  display: inline-flex;
  }

.f{
width: 50ppx;
margin:100px 100px 100px 100px;
text-align: center;
padding: 50px;
margin-left: 40px;
color: #FAFAFA;

}


  
  