 *{
    margin: o;
    padding: o;
    box-sizing: border-box;
    font-family: 'Poppins',Iter;
 }
 body{
position: relative; }

/* NAVBAR STYLING STARTS */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
   }
   /* LOGO */
   .logo {
    font-size: 32px;
    font-weight: bold;
    color: white;
    
}
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    flex: 1;
   }
   .topnav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-style: Space Grotesk;
    position: relative;

   }
    .topnav a.active {
        font-weight: bolder;
        height: 1px;
    
    }
        h1{
            color: #2549D3;
        }


        .login{
          background-color:black ;
          border: none;
          color: #FAFAFA;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          font-weight: bolder;
          margin-left: 30%;
        }
   .button {
  background-color: #ED661F;
  border: none;
  color: #FAFAFA;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.explore{
    width: 100%;
    height: 100vh;
    background-image:url('./images/image 1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: absolute;
    
    
}
.explore1{
  width: 90%;
  margin-left: 100px;
  margin-right: 100px;
  box-sizing: border-box;
    
}
.image1{
  width: 70%;
  float: right;
  margin-left: 30px;
}
.buying{
  margin-top: 100px;
}
.buying1{
  line-height: 2;
  font-size: 40px;
  color: black;
  font-weight: bolder;
}
.buyerp{
  line-height: 2;
  font-size: 20px;

}
.customersli{
  background-color: white;
  display: inline-flex;
  overflow: hidden;
  position: relative;
  text-align: center;

  margin-left: 20%;
  position: absolute;
  margin-top: 900px;
  margin-left: 40%;

}
.Customers{

  /* margin:100px auto 100px auto; */
  padding: 30px;
  margin-left: 10px;
}
.positioning{
  position: absolute;
margin-top: 1200px;
}
.exist{
  width: 90%;
  margin-left: 100px;
  margin-right: 100px;
  box-sizing: border-box;

}


#button{
  line-height: 2;
  font-size: 40px;
}


  .exist{
    width: 100%;
    margin:100px auto 100px auto;
    text-align: left;
    justify-content: space-between;
  
  }
  .exist1{
    width: 90%;
  margin-left: 100px;
  margin-right: 100px;
  box-sizing: border-box;
  justify-content: space-between;

  

  }
  .exist2{
    margin-top: 100px;
  }
  .exist3{
    line-height: 2;
    font-size: 40px;
    color: black;
    font-weight: bolder;
  }
  .existp{
    line-height: 2;
  font-size: 20px;

  }
  .image2{
    width: 70%;
  float: right;
  margin-left: 30px;
  }
  .text{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    margin-top: 500px;
    padding-top: 5px;
  }
  .categoryh1{
    line-height: 2;
    font-size: 40px;
    color: black;
    font-weight: bolder;
  }
  .categoryp{
    line-height: 2;
    font-size: 25px;
    margin-left: -5%;
  }
  
  .most{
    line-height: 2;
    font-size: 40px;
    color: black;
    font-weight: bolder;
    margin-left: 150px;
  }

  .newest{
    line-height: 2;
    font-size: 40px;
    color: black;
    font-weight: bolder;
    margin-left: 150px;
  }


.flex-container{
  display: flex;
  /* flex-wrap: nowrap; */
  justify-content:space-around;
  /* width: 100%; */
  margin-left: 150px;
  
  
}
/* .products{
  height: 50px;
  width: 50px;

} */
.image3{
  width: 80%;
  height: auto;
}
.lorem{
  display: inline-flex;
  overflow: hidden;
}


.ipsum{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: center;
  background-color: white;
  padding: 50px;
  margin-left: 40px;
}
.footer1{
  width: 100%;
  min-height: 200px;
  background: black;
}
.wrapper{
  height: 60px;
  width: 400px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
}
.wrapper .btn-1{
  position: absolute;
  height: 100%;
  width: 50%;
  color: #664AFF;
  background: #fff;
  line-height: 60px;
  font-size: 27px;
  font-weight: 500;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
  box-shadow: 5px 5px 30px rgba(0,0,0,.2);
  transition: 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .btn-1:active{
  transform: scale(0.9);
}
#click:checked ~ .btn-1{
  height: 40px;
  width: 100px;
  opacity: 0;
  pointer-events: none;
}
.wrapper .field{
  height: 100%;
  width: 0%;
  opacity: 0;
  pointer-events: none;
  position: relative;
  transition: 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
#click:checked ~ .field{
  width: 100%;
  opacity: 1;
  pointer-events: auto;
}
.wrapper .field input{
  height: 100%;
  width: 100%;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 0 130px 0 15px;
  font-size: 20px;
  outline: none;
  box-shadow: 5px 5px 30px rgba(0,0,0,.2);
}
.wrapper .field input::placeholder{
  color: #999;
  font-size: 18px;
}
.wrapper .field .btn-2{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  line-height: 40px;
  background: #664AFF;
  height: 40px;
  width: 100px;
  user-select: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.wrapper .field .btn-2:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper #click{
  display: none;
}

.footer{
  width: 100%;
  min-height: 200px;
  background: black;
  background-color: #0F298B;
  display: inline-flex;

}
.f{
width: 50ppx;
margin:100px 100px 100px 100px;
text-align: center;
padding: 50px;
margin-left: 40px;
color: #FAFAFA;
}
.footer-li{
  display: inline-flex;
  overflow: hidden;
}

  
  